@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Karla:wght@200&family=Nunito+Sans:wght@200&family=Oswald&family=Rubik+Puddles&family=Yuji+Hentaigana+Akari&display=swap");
html {
  height: 100%;
}
.body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    323deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 33%,
    rgba(0, 212, 255, 1) 65%
  );
  height: 100%;
  width: 100%;
}
.container {
  margin-top: 100px;
}
.p_sign {
  margin-top: 50px;
}
.logo {
  font-family: "Kablammo", cursive;
}
.header {
  height: 30px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: cornflowerblue;
  padding: 30px 30px;
  font-family: "Dancing Script", cursive;
  margin-top: 125px;
}
.btn {
  padding: 2px 2px;
  border: 1px solid black;
  cursor: pointer;
}

.signIn_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.signIn_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  border: 1px solid white;
  border-radius: 15px;
  /* background-color: #e3f2fd;
   */
  color: white;
  background: rgb(0, 212, 255);
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 3%,
    rgba(16, 16, 126, 1) 24%,
    rgba(0, 212, 255, 1) 61%
  );
}
.text {
  color: white;
}
.submit_btn {
  margin-top: 10px;
  padding: 5px 30px;
}
